name: Go Building

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-Go-SpeedTest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - build: linux-amd64
            os: ubuntu-22.04
            ext: ''
          - build: windows-amd64
            os: windows-2019
            ext: '.exe'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.20'

      - name: Set commit message
        id: set_commit
        run: |
          commit_message=$(git log --format=%B -1)
          echo "COMMIT_MESSAGE=$commit_message" >> $GITHUB_ENV
        shell: bash

      - name: Get dependencies
        run: |
          go mod download
          go mod tidy

      - name: Build executable
        run: |
          echo "GOOS=${{ matrix.build.split('-')[0] }}" >> $GITHUB_ENV
          echo "GOARCH=${{ matrix.build.split('-')[1] }}" >> $GITHUB_ENV
          go build -o dist/${{ matrix.os }}/Go-SpeedTest${{ matrix.ext }} ./...
        shell: bash

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: build_Go-SpeedTest_${{ matrix.os }}_v${{ env.COMMIT_MESSAGE }}
          path: dist/${{ matrix.os }}/Go-SpeedTest${{ matrix.ext }}
