name: Go Building

on:
  push:
    paths:
      - '*.go'
  workflow_dispatch:

jobs:
  build-Go-SpeedTest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            GOOS: linux
            GOARCH: amd64
            ext: ''
          - os: windows-2019
            GOOS: windows
            GOARCH: amd64
            ext: '.exe'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.20'

      - name: Set commit message
        id: set_commit
        run: |
          commit_message=$(git log --format=%B -1)
          echo "COMMIT_MESSAGE=$commit_message" >> $GITHUB_ENV
        shell: bash

      - name: Get dependencies
        run: |
          go mod download
          go mod tidy

      - name: Build executables
        run: |
          echo "GOOS=${{ matrix.GOOS }}" >> $GITHUB_ENV
          echo "GOARCH=${{ matrix.GOARCH }}" >> $GITHUB_ENV
          mkdir -p dist/${{ matrix.os }}
          for file in *.go; do
            base_name=$(basename "$file" .go)
            go build -o dist/${{ matrix.os }}/$base_name${{ matrix.ext }} $file
          done
        shell: bash

      - name: Upload All Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build_Go-SpeedTest_${{ matrix.os }}_v${{ env.COMMIT_MESSAGE }}
          path: dist/${{ matrix.os }}/

      - name: Upload Individual Artifacts
        run: |
          for file in dist/${{ matrix.os }}/*${{ matrix.ext }}; do
            base_name=$(basename "$file" ${matrix.ext})
            echo "Uploading $file as $base_name"
            echo "::set-output name=artifact_name::${base_name}_${{ matrix.os }}_v${{ env.COMMIT_MESSAGE }}"
          done
        shell: bash
      - name: Upload Main Binary
        uses: actions/upload-artifact@v3
        with:
          name: main_${{ matrix.os }}_v${{ env.COMMIT_MESSAGE }}
          path: dist/${{ matrix.os }}/main${{ matrix.ext }}

      - name: Upload Download Binary
        uses: actions/upload-artifact@v3
        with:
          name: download_${{ matrix.os }}_v${{ env.COMMIT_MESSAGE }}
          path: dist/${{ matrix.os }}/download${{ matrix.ext }}
